# Ignore build folder completely
build/

# Ignore all dist files
dist/

# Allow update installers
!update/
!update/*.exe

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
env/

# OS garbage
.DS_Store
Thumbs.db
